
.App {
  text-align: center;
  border: 1px black solid;
  box-shadow: 5px 10px 15px darkgrey;
  margin: auto;
  position: relative ;
  width: 33.3%;
}
 #card{
   border: 1px black solid;
   box-shadow: 5px 10px 15px darkgrey;
   margin: 10px;
   padding: 10px;
   background-color:deepskyblue;
   color: white
   
 }

 p{
   font: 16px;
   font-weight: 200;
   text-decoration: underline ;
 }


